<div class="content bg-gray-lighter padding-header">
  <div class="row">
    <div class="col-sm-4">
      <h1 class="page-heading ">
        <%= @tag.name.titleize %>
      </h1>
    </div>
    <div class="col-sm-8 text-right hidden-xs">
      <ol class="breadcrumb push-10-t">
        <li><%= link_to 'Websites', tags_path %></li>
        <li>
            <% if @tag.is_active %>
                <%= link_to 'Add Information', new_tags_info_path(:tag_id => @tag.encoded_id)%>
            <% else %>
                Add Information
            <% end %>
        </li>
      </ol>
    </div>
  </div>
</div>

<div class="content">
  <div class="block">
    <div class="block-content">
      <table class="table table-striped table-borderless table-header-bg">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Total Impressions</th>
          <th class="text-center">Paid Impressions</th>
          <th class="text-center">eCPM</th>
          <th class="text-center">Fill Rate</th>
          <th class="text-center">Partner Revenue</th>
          <th class="text-center">Date</th>
          <th class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        <% if @tags_infos.present? %>
            <% counter = (@tags_infos.current_page - 1) * 10  %>
            <% @tags_infos.each_with_index do |taginfo, i| %>
                <tr>
                  <td class="text-center"><%= counter + i + 1  %></td>
                  <td class="text-center"><%= number_with_delimiter(taginfo.ad_request.to_i, delimiter: ',') %></td>
                  <td class="text-center"><%= number_with_delimiter(taginfo.match_request.to_i, delimiter: ',') %></td>
                  <td class="text-center"><%= number_to_currency_dollar(taginfo.ecpm) %></td>
                  <td class="text-center"><%= number_to_percentage_fill(taginfo.fill_rate) %></td>
                  <td class="text-center"><%= number_to_currency_dollar(taginfo.partner_revenue) %></td>
                  <td class="text-center"><%= taginfo.frm_date.strftime('%d-%m-%Y') %></td>
                  <td class="text-center">
                    <% if @tag.is_active %>
                        <%= link_to 'Edit', edit_tags_info_path(taginfo.id) %>
                        <%= link_to 'Delete',  taginfo,  method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% else %>
                        Edit Delete
                    <% end %>
                  </td>
                </tr>
            <% end %>
        <% else %>
            <tr>
              <td colspan="6" class="text-center">Nothing to show.</td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-sm-6">

        <%= link_to '<i class="fa fa-file-excel-o"></i> Export'.html_safe, export_tags_path(format: 'csv'), :class => 'btn btn-primary push-5-r push-10', :style => 'margin-top: 22px;margin-left: 20px;' %>
      </div>
      <div class="col-sm-4">
        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate">
          <%= paginate @tags_infos %>
        </div>
      </div>
    </div>
  </div>
</div>