
<div class='content bg-gray-lighter'>
  <div class='row items-push'>
    <div class='col-sm-7'>
      <h1 class='page-heading'>
        <%= @tags_breadcrumb.name %>
      </h1>
    </div>
    <div class='col-sm-5 text-right hidden-xs'>
      <ol class='breadcrumb push-10-t'>
        <%= render_breadcrumbs :tag => :li, :separator => "" %>
      </ol>
    </div>
  </div>
</div>

<div class='content'>
  <div class='row'>
    <div class='col-lg-9'>
      <div class='block'>
        <div class='block-header'><h3 class='block-title'>Daily Report</h3></div>
        <div class='block-content block-content-full bg-gray-lighter text-center'>
          <div id='chart'>
            <div class='sk-circle'>
              <div class='sk-circle1 sk-child'></div>
              <div class='sk-circle2 sk-child'></div>
              <div class='sk-circle3 sk-child'></div>
              <div class='sk-circle4 sk-child'></div>
              <div class='sk-circle5 sk-child'></div>
              <div class='sk-circle6 sk-child'></div>
              <div class='sk-circle7 sk-child'></div>
              <div class='sk-circle8 sk-child'></div>
              <div class='sk-circle9 sk-child'></div>
              <div class='sk-circle10 sk-child'></div>
              <div class='sk-circle11 sk-child'></div>
              <div class='sk-circle12 sk-child'></div>
            </div>
            <%= render_chart @chart, 'chart' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="block">
    <div class="block-content">
      <table class="table table-responsive table-header-bg">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Tag Name</th>
          <th class="text-center">Total Impressions</th>
          <th class="text-center">Paid Impressions</th>
          <th class="text-center">eCPM</th>
          <th class="text-center">Fill Rate</th>
          <th class="text-center">Partner Revenue</th>
          <th class="text-center">Date</th>
        </tr>
        </thead>
        <tbody>
        <% if @tags_infos.present? %>
            <% counter = (@tags_infos.current_page - 1) * 10  %>
            <% @tags_infos.each_with_index do |taginfo, i| %>
                <tr>
                  <td class="text-center"><%= counter + i + 1  %></td>
                  <td class="text-center"><%= taginfo.tag.name %></td>
                  <td class="text-center"><%= number_with_delimiter(taginfo.ad_request.to_i, delimiter: ',') %></td>
                  <td class="text-center"><%= number_with_delimiter(taginfo.match_request.to_i, delimiter: ',') %></td>
                  <td class="text-center"><%= number_to_currency_dollar(taginfo.ecpm) %></td>
                  <td class="text-center"><%= number_to_percentage_fill(taginfo.fill_rate) %></td>
                  <td class="text-center"><%= number_to_currency_dollar(taginfo.partner_revenue) %></td>
                  <td class="text-center"><%= taginfo.frm_date.strftime('%d-%m-%Y') %></td>
                </tr>
            <% end %>
        <% else %>
            <tr>
              <td colspan="6" class="text-center">Nothing to show.</td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-sm-6">

        <%= link_to '<i class="fa fa-file-excel-o"></i> Export'.html_safe, export_tags_path(format: 'csv'), :class => 'btn btn-primary push-5-r push-10', :style => 'margin-top: 22px;margin-left: 20px;' %>
      </div>
      <div class="col-sm-4">
        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate">
          <%= paginate @tags_infos %>
        </div>
      </div>
    </div>
  </div>
</div>