<div class="content content-narrow">
  <div class="col-md-8">
    <div class="block">
      <div class="block-content block-content-narrow">
        <%= form_for(@tags_info, html: {:class => 'js-validation-material form-horizontal margin-top-40 tags-info-form'}) do |f| %>

            <div class="form-group">
              <div class="col-xs-9">
                <div class="form-material form-material-primary ">
                  <%= f.text_field :ad_request, autofocus: true, class: 'form-control field', id: 'ad_request_txt' %>
                  <label>Ad Request</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-9">
                <div class="form-material form-material-primary ">
                  <%= f.text_field :match_request, autofocus: true, class: 'form-control field', id: 'match_request_txt'%>
                  <label>Match Request</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-9">
                <div class="form-material form-material-primary ">
                  <%= f.text_field :clicks, autofocus: true, class: 'form-control field', :disabled => true, value: '0' %>
                  <label>Clicks</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-9">
                <div class="form-material form-material-primary ">
                  <%= f.text_field :ctr, autofocus: true, class: 'form-control field',  :disabled => true, value: '0' %>
                  <label>CTR</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-9">
                <div class="form-material form-material-primary ">
                  <%= f.text_field :ecpm, autofocus: true, class: 'form-control field', id: 'ecpm_txt' %>
                  <label>eCPM</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-9">
                <div class="form-material form-material-primary ">
                  <%= f.text_field :partner_revenue, autofocus: true, class: 'form-control field', id:'partner_revenue_txt' %>
                  <label>Partner Revenue</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-9">
                <div class="form-material form-material-primary ">
                  <%= f.text_field :frm_date, :class => 'js-datepicker form-control', id: 'to_date', 'data-date-format' => "dd MM, yyyy" %>
                  <label>From Date</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-9">
                <div class="form-material form-material-primary ">
                  <%= f.text_field :to_date, :class => 'js-datepicker form-control', id: 'to_date', 'data-date-format' => "dd MM, yyyy" %>
                  <label>To Date</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-9">
                <div class="form-material form-material-primary ">
                  <%= f.text_field :fill_rate, autofocus: true, class: 'form-control field', id: 'fill_rate_txt' %>
                  <label>Fill rate</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= hidden_field_tag "tags_info[tag_id]", @tag.id %>
              <%= f.submit f.object.new_record? ? 'Submit' : 'Update', class: 'btn btn-sm btn-primary tags-info-btn' %>
              <%= link_to "Back", tags_path, class: 'btn btn-sm btn-warning' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
      
      $(function () {
          App.initHelpers(['datepicker']);
      });

      $('#match_request_txt').change(function() { 
          $('#fill_rate_txt').val(
          Math.round($('#match_request_txt').val()*100 /  $('#ad_request_txt').val()));
      });

      $('#ecpm_txt').change(function() { 
          $('#partner_revenue_txt').val(
          parseFloat($('#match_request_txt').val() * $('#ecpm_txt').val() /  1000).toFixed(2));
      });
  });
</script>