<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-8">
      <h1 class="page-heading">
        <%= @tag.name %>'s Information
        <small>Edit</small>
      </h1>
    </div>
    <div class="col-sm-4 text-right hidden-xs">
      <ol class="breadcrumb push-10-t">
        <li><%= link_to @tag.name, tag_path(@tag.encoded_id) %></li>
        <li>Edit</li>
      </ol>
    </div>
  </div>
</div>

<%= render partial: 'tags_infos/form' %>