<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-8">
      <h1 class="page-heading">
        User Profile
      </h1>
    </div>
    <div class="col-sm-4 text-right hidden-xs">
      <ol class="breadcrumb push-10-t">
        <li><a class="link-effect" href="/pages">Home</a></li>
        <li>Edit Profile</li>
      </ol>
    </div>
  </div>
</div>

<div class="content content-narrow">
  <div class="col-md-8">
    <div class="block">
      <div class="block-header">
        <h3 class="block-title">Edit <%= resource_name.to_s.humanize %></h3>
      </div>
      <div class="block-content block-content-narrow">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, :class => 'form-horizontal'}) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <label class="col-xs-7">Username</label>

              <div class="col-sm-7">
                <%= f.text_field :username, autofocus: true, class: 'form-control field', :disabled => 'disabled' %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-7">First Name</label>

              <div class="col-sm-7">
                <%= f.text_field :first_name, autofocus: true, class: 'form-control field', :disabled => 'disabled' %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-7">Last Name</label>

              <div class="col-sm-7">
                <%= f.text_field :last_name, autofocus: true, class: 'form-control field', :disabled => 'disabled' %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-7">Email</label>

              <div class="col-sm-7">
                <%= f.email_field :email, autofocus: true, class: 'form-control field', :disabled => 'disabled' %>
              </div>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
              <label class="col-xs-7">Password</label>

              <div class="col-sm-7">
                <%= f.password_field :password, autocomplete: "off", class: 'form-control field' %>
                <% if @minimum_password_length %>
                    <div class="help-block"><%= @minimum_password_length %> characters minimum</div>
                <% end %>
                <div class="help-block">(Leave blank if you don't want to change it)</div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-7">Password confirmation</label>

              <div class="col-sm-7">
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control field'%>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-7">Current password</label>

              <div class="col-sm-7">
                <%= f.password_field :current_password, autocomplete: "off", class: 'form-control field' %>
                <div class="help-block">(We need your current password to confirm your changes)</div>
              </div>
            </div>

            <div class="form-group">
              <%= f.submit "Update", class: 'btn btn-sm btn-primary' %>
              <%= link_to "Back", :back, class: 'btn btn-sm btn-warning' %>
            </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<!--<h3>Cancel my account</h3>-->

<%- # <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete    -%>

