<%= render 'static/notice_banner' %>
<div class='content overflow-hidden'>
  <div class='row'>
    <div class='col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4'>
      <div class='block block-themed animated fadeIn'>
        <div class='block-header bg-success'>
          <ul class='block-options'>
            <li>
              <a href='<%= new_user_session_path %>' data-toggle='tooltip' data-placement='left' title='login' data-original-title='Log In'><i class='si si-login'></i></a>
            </li>
          </ul>
          <h3 class='block-title'>Register</h3>
        </div>
        <div class='block-content block-content-full block-content-narrow'>
          <!-- Register Title -->
          <h1 class='h2 font-w600 push-15-t push-5'>Adsolut</h1>

          <p>Please fill the following details to create a new account.</p>
          <!-- END Register Title -->

          <!-- Register Form -->
          <!-- jQuery Validation (.js-validation-register class is initialized in js/pages/base_pages_register.js) -->
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {role: 'form', :class => 'form-horizontal push-40-t push-40'}) do |f| %>
              <div class='form-group'>
                <div class='col-xs-12'>
                  <div class='form-material form-material-success'>
                    <%= f.text_field :username, autofocus: true, class: 'form-control', placeholder: 'Please enter a username' %>
                    <label for='register-username'>Username</label>
                  </div>
                </div>
              </div>
              <div class='form-group'>
                <div class='col-xs-12'>
                  <div class='form-material form-material-success'>
                    <%= f.text_field :first_name, class: 'form-control', id: 'register-first-name', name: 'register-first-name', placeholder: 'Please enter your first name' %>
                    <label for='register-first-name'>Frist Name</label>
                  </div>
                </div>
              </div>
              <div class='form-group'>
                <div class='col-xs-12'>
                  <div class='form-material form-material-success'>
                    <%= f.text_field :last_name, class: 'form-control', placeholder: 'Please enter your last name' %>
                    <label for='last-name'>Last Name</label>
                  </div>
                </div>
              </div>
              <div class='form-group'>
                <div class='col-xs-12'>
                  <div class='form-material form-material-success'>
                    <%= f.text_field :email, class: 'form-control', id: 'register-email', type: 'email', :required => true, placeholder: 'Please enter your email id' %>
                    <label for='register-email'>Email</label>
                  </div>
                </div>
              </div>
              <div class='form-group'>
                <div class='col-xs-12'>
                  <div class='form-material form-material-success'>
                    <%= f.password_field :password, class: 'form-control', id: 'register-password', placeholder: 'Choose a strong password..' %>
                    <label for='register-password'>Password</label>
                  </div>
                </div>
              </div>
              <div class='form-group'>
                <div class='col-xs-12'>
                  <div class='form-material form-material-success'>
                    <%= f.password_field :password_confirmation, class: 'form-control', id: 'register-password2', name: 'register-password2', placeholder: '..and confirm it' %>
                    <label for='register-password2'>Confirm Password</label>
                  </div>
                </div>
              </div>
              <div class='form-group'>
                <div class='col-xs-12'>
                  <label class='css-input switch switch-sm switch-success'>
                    <input type='checkbox' id='register-terms' name='register-terms'><span></span> I agree with
                    terms &amp; conditions
                  </label>
                </div>
              </div>
              <div class='form-group'>
                <div class='col-xs-12 col-sm-6 col-md-5'>
                  <%= f.submit t('.sign_up', :default => 'Sign up'), class: 'btn btn-block btn-success' %>
                </div>
              </div>
          <% end %>
          <!-- END Register Form -->
        </div>
      </div>
    </div>
  </div>
</div>
