<% if @contents.present? %>
    <div class="content content-narrow">
      <div class="col-md-8">
        <div class="block">
          <div class="block-content block-content-narrow">
            <%= devise_error_messages! %>

            <div class="form-group">
              <label class="col-xs-7" for="example-text-input">Ads Txt:</label>
              <textarea class="form-control" id="bar" name="material-textarea-large2" rows="12"><%= @contents.to_s %></textarea>

              <div class="help-block text-right">If you need any help, feel free to contact your Account Manager for the
                same
              </div>
            </div>

            <div class="form-group">
              <button class="btn btn-minw btn-primary clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#bar">
                Copy to clipboard
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
<% else %>
    <div class="content content-narrow">
      <div class="col-md-8">
        <div class="block">
          <div class="block-content block-content-narrow">
            <%= devise_error_messages! %>

            <div class="form-group">
              <label class="col-xs-7" for="example-text-input">Ads Txt:</label>
              <textarea class="form-control" id="bar" name="material-textarea-large2" rows="12">Nothing to show</textarea>

              <div class="help-block text-right">If you need any help, feel free to contact your Account Manager for the
                same
              </div>
            </div>

            <div class="form-group">
              <button class="btn btn-minw btn-primary clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#bar">
                Copy to clipboard
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
<% end %>

<script>
    $(document).ready(function () {

        var clipboard = new Clipboard('.clipboard-btn');
        console.log(clipboard);

    });

    // Tooltip

    $('.clipboard-btn').tooltip({
        trigger: 'click',
        placement: 'bottom'
    });

    function setTooltip(btn, message) {
        $(btn).tooltip('hide')
                .attr('data-original-title', message)
                .tooltip('show');
    }

    function hideTooltip(btn) {
        setTimeout(function () {
            $(btn).tooltip('hide');
        }, 1000);
    }

    // Clipboard

    var clipboard = new Clipboard('.clipboard-btn');

    clipboard.on('success', function (e) {
        setTooltip(e.trigger, 'Copied!');
        hideTooltip(e.trigger);
    });

    clipboard.on('error', function (e) {
        setTooltip(e.trigger, 'Failed!');
        hideTooltip(e.trigger);
    });
</script>