<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7">
      <h1 class="page-heading">
        Download Ads.txt
      </h1>
      <small> Please add the below ads.txt file onto the root of your website to enable maximum visibility of our ad campaigns.
      </small>
    </div>
    <div class="col-sm-5 text-right hidden-xs">
      <ol class="breadcrumb push-10-t">
        <%= render_breadcrumbs :tag => :li, :separator => "" %>
      </ol>
    </div>
  </div>
</div>

<%= render :partial => 'ads_txt/file_contents' %>
