<div class="content content-narrow">
  <div class="col-md-8">
    <div class="block">
      <div class="block-content block-content-narrow">
        <%= form_for(@user, html: {:class => 'form-horizontal'}) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <label class="col-xs-7" for="example-text-input">First Name</label>

              <div class="col-sm-7">
                <%= f.text_field :first_name, autofocus: true, class: 'form-control field' %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-7" for="example-text-input">Last Name</label>

              <div class="col-sm-7">
                <%= f.text_field :last_name, autofocus: true, class: 'form-control field' %>
              </div>
            </div>


            <div class="form-group">
              <label class="col-xs-7" for="example-text-input">Email</label>

              <div class="col-sm-7">
                <%= f.email_field :email, autofocus: true, class: 'form-control field' %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-7" for="example-text-input">Username</label>

              <div class="col-sm-7">
                <%= f.text_field :username, autofocus: true, class: 'form-control field' %>
              </div>
            </div>

            <% if f.object.new_record? %>
                <div class="form-group">
                  <label class="col-xs-7" for="example-text-input">Password</label>

                  <div class="col-sm-7">
                    <%= f.password_field :password, autocomplete: "off", class: 'form-control field' %>
                    <% if @minimum_password_length %>
                        <div class="help-block"><%= @minimum_password_length %> characters minimum</div>
                    <% end %>
                    <div class="help-block">(Leave blank if you don't want to change it)</div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-xs-7" for="example-text-input">Password confirmation</label>

                  <div class="col-sm-7">
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control field' %>
                  </div>
                </div>
            <% end %>

            <div class="form-group">
              <label class="col-xs-7" for="example-text-input">Role</label>

              <div class="col-sm-7">
                <%= f.radio_button :role, :customer, :checked => true %>
                <%= label :role, 'Customer' %>
                <%= f.radio_button :role, :admin %>
                <%= label :role, 'Admin' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-9">
                <div class="form-material form-material-primary ">
                  <%= f.file_field :file %>
                  <label>Upload ads.txt</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.submit f.object.new_record? ? 'Submit' : 'Update', class: 'btn btn-sm btn-primary' %>
              <%= link_to "Back", users_path, class: 'btn btn-sm btn-warning' %>
            </div>

        <% end %>
      </div>
    </div>
  </div>
</div>


<!--<h3>Cancel my account</h3>-->


<%- # <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete     -%>

