<div class="content bg-gray-lighter padding-header">
  <div class="row">
    <div class="col-sm-4">
      <h1 class="page-heading ">
        Users
      </h1>
    </div>
    <div class="col-sm-4">
      <%= form_tag users_path, :method => :get, :id => "search_form" do %>
          <div class="form-material form-material-primary input-group remove-margin-t remove-margin-b">
            <%= text_field_tag(:search, params[:search], :class => "form-control", :id => "users", :placeholder => "Search", :onkeyup => "clear_search()") %>
            <span class="input-group-addon"><i class="si si-magnifier" , onClick="submit_search()"></i></span>
          </div>
      <% end %>
    </div>
    <div class="col-sm-4 text-right">
      <ol class="breadcrumb push-10-t">
        <li><%= link_to 'Add User', new_user_path %></li>
      </ol>
    </div>
  </div>
</div>

<div class="content">
  <div class="block">
    <div class="table-responsive">
      <table class="table table-borderless table-header-bg text-center remove-margin-b">
        <thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Username</th>
          <th class="text-center">Email ID</th>
          <th class="text-center">Role</th>
          <th class="text-center">Active</th>
          <th class="text-center">Actions</th>
          <th class="text-center">Ads.Txt</th>
        </tr>
        </thead>
        <tbody>
        <% if @users.present? %>
            <% @users.each do |user| %>
                <tr>
                  <td class="text-center"><%= user.full_name %></td>
                  <td class="text-center"><%= user.username %></td>
                  <td class="text-center"><%= user.email %></td>
                  <td class="text-center"><%= user.roles.present? ? user.roles.first.name : 'No role' %></td>

                  <td class="text-center">
                    <%= form_for(user, :method => 'put', url: user_path(:encoded_id => user.id)) do |f| %>
                        <label class="css-input switch switch-sm switch-primary">
                          <% if user.is_active %>
                              <%= f.check_box :is_active, {checked: true, :class => 'is-active'} %>
                          <% else %>
                              <%= f.check_box :is_active, {:class => 'is-active'} %>
                          <% end %>
                          <span></span>
                        </label>
                    <% end %>
                  </td>
                  <td class="text-center">
                    <%= link_to 'Edit', edit_user_path(user) %>
                    <%= link_to 'Delete', user_path(user), method: :delete, data: {confirm: 'Are you sure?'} %>
                  </td>
                  <td class="text-center">
                    <% if user.file_file_name.present? %>
                        <% if user.file_file_name.include? ".txt" %>
                            <%= link_to image_tag('icon_txt.png', alt: 'Download TXT'), user.file.url, :title => 'Download TXT' %>
                        <% else %>
                            <%= link_to image_tag('icon_all_extensions.png', alt: 'Download'), user.file.url, :title => 'Download' %>
                        <% end %>
                    <% else %>
                        <%= image_tag('upload_tag.png', alt: 'Upload ads.txt', :title => 'Upload ads.txt') %>
                    <% end %>
                  </td>
                </tr>
            <% end %>
        <% else %>
            <tr>
              <td colspan="6" class="text-center">Nothing to show.</td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="dataTables_paginate paging_simple_numbers">
      <%= paginate @users %>
    </div>
  </div>
</div>
<script>
    $('.is-active').on("change", function () {
        $(this).closest("form").submit();
    });
</script>