<%= bootstrap_devise_error_messages! %>
<%= render 'static/notice_banner' %>

  <!-- Header Login -->
  <div class="push-100-t text-center-login">
      <a href="http://adsolut.in/" target="_blank">
          <%= image_tag('photos/adsolut-logo-160x44.png')%>
      </a>
  </div>
  <!-- End Header Login -->

  <!-- Container Login  -->
  <div class="login-panel">

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put, role: "form", :class => 'login-form'}) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        
        <div class="form-group">
          <%= f.label_tag 'Enter New Password', 'Enter New  Password', :class => 'text-white' %>
          <%= f.password_field :password, autofocus: true, class: "form-control", :placeholder => 'Password', :required => true  %>
        </div>

        <div class="form-group">
          <%= f.label_tag 'Enter Confirm Password', 'Enter Confirm Password', :class => 'text-white' %>
          <%= f.password_field :password_confirmation, class: "form-control", :placeholder => 'Confirm Password', :required => true  %>
        </div>
        
        <div class="form-group">
          <%= f.submit t('.change_my_password', :default => 'Change my password'), class: "btn btn-block btn-primary" %>
        </div>

        <div class="form-group">
            <div class="float-right">
              <p class="text-white">Don't want to reset password? <%= link_to "Login here", root_path, :class => 'text-blue' %></p>
            </div>
          </div>
      <% end %>
  </div>
  <!-- End Container Login  -->

  <!-- Footer Login -->
  <footer class="page-footer font-small stylish-color-dark pt-4 mt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left push-100-t">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a href="https://www.facebook.com/adsolutmedia/" target="_blank" class="btn-floating btn-fb mx-1">
          <i class="fa fa-facebook"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://twitter.com/AdsolutMedia" target="_blank" class="btn-floating btn-tw mx-1">
          <i class="fa fa-twitter"> </i>
        </a>
      </li>

      <li class="list-inline-item">
        <a href="https://www.linkedin.com/company/adsolut-media/" target="_blank" class="btn-floating btn-li mx-1">
          <i class="fa fa-linkedin"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white">© Copyright Adsolut Media, 2019. All Rights Reserved.</div>
    <!-- Copyright -->
  </footer>
  <!-- End Footer -->
