  <%= form_for(@publisher, html: {role: 'form', :class => 'login-form'}) do |f| %>
      
      <div class="form-group form-material-primary floating">
        <div class='form-material-primary floating'>
          <%= f.text_field :full_name, :class => 'form-username form-control', :placeholder => 'Full Name', autofocus: true, :required => true %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="form-material-primary floating">
          <%= f.text_field :company_name, :class => 'form-company-name form-control', :placeholder => 'Company Name', :required => true %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="form-material-primary floating">
          <%= f.text_field :email_id, :class => 'form-email_id form-control', :placeholder => 'Email Id', :required => true %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="form-material-primary floating">
          <%= label_tag 'property_type', 'Property to monetize', class: 'label' %>
          <%= f.select(:property_monetize, Publisher.property_monetizes.keys.map { |property_monetize| [property_monetize.titleize, property_monetize] }, {}, {:class => 'form-control jsSelect'}) %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="form-material-primary floating">
          <%= f.text_field :property_name, :class => 'form-website-name form-control', :placeholder => 'Website Name', :required => true %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="form-material-primary floating">
          <%= label_tag 'monthly_page_views', 'Monthly Pageviews', class: 'label' %>
          <%= f.select(:monthly_view, Publisher.monthly_views.keys.map { |monthly_view| [monthly_view.titleize, monthly_view] }, {}, {:class => 'form-control jsSelect'}) %>
        </div>
      </div>

      <div class="form-group">
        <%= recaptcha_tags %>
      </div>

      <div class="form-group push-30-t">
        <%= f.button :submit, :class => 'btn btn-block btn-primary' do %>
            Sign Up As Publisher
        <% end %> 
      </div>

      <div class="form-group text-center">
        <%= link_to "Back", root_path, :class => 'btn-success btn' %>
      </div>

  <% end %>