<div class="block">
  <div class="block-header">
    <h3 class="block-title">Signed Up Publisher</h3>
  </div>
  <div class="block-content">
    <div class="table-responsive">
      <table class="table table-striped table-vcenter">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Name</th>
          <th class="text-center">Company Name</th>
          <th class="text-center">Email Id</th>
          <th class="text-center">Property Monetize</th>
          <th class="text-center">Websites</th>
          <th class="text-center">Monthly Views</th>
        </tr>
        </thead>
        <tbody>
        <% if @publishers.present? %>

            <% counter = (@publishers.current_page - 1) * 10 %>
            <% @publishers.each_with_index do |publisher, i| %>
                <tr>
                  <td class="text-center"><%= (counter +i+1) %></td>
                  <td class="text-center"><%= publisher.full_name %></td>
                  <td class="text-center"><%= publisher.company_name %></td>
                  <td class="text-center"><%= publisher.email_id %></td>
                  <td class="text-center"><%= publisher.property_monetize %></td>
                  <td class="text-center"><%= publisher.property_name %></td>
                  <td class="text-center"><%= publisher.monthly_view %></td>
                </tr>
            <% end %>
        <% else %>
            <tr>
              <td colspan="6" class="text-center">Nothing to show.</td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="dataTables_paginate paging_simple_numbers">
      <%= paginate @publishers %>
    </div>
  </div>
</div>

