<%= render 'static/notice_banner' %>

<!-- Header Login -->
  <div class="push-100-t text-center-login">
      <a href="http://adsolut.in/" target="_blank">
          <%= image_tag('photos/adsolut-logo-160x44.png')%>
      </a>
  </div>
  <!-- End Header Login -->

<div class="container">
  <div class="row margin-top-40 margin-bottom-20">
    <div class="col-lg-6 col-lg-offset-3 text-center">
      <div class="form-top">
        <div class="description  margin-top-20">
          <h1 class="text-white text-center">You're all set!</h1>
          <br>
          <h2 class="text-white text-center">Thanks for signing up with Adsolut Media</h2>
          <br>
          <h3 class="text-white text-center">Our Account Manager Will Contact You Shortly!</h3>
        </div>
        <br>
      </div>
      <div class="form-top">
        <div class="form-top-center">
          <div class="description">
            <p class="text-center-login">
              If you are not able to access your Adsolut account,<br/>
              write into <strong><a href="mailto:info@adsolut.in">info@adsolut.in</a>.</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Google Code for Conversion Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 831770505;
    var google_conversion_label = "JEPACKKqmXsQiZ_PjAM";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/831770505/?label=JEPACKKqmXsQiZ_PjAM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>