<div class="content bg-gray-lighter padding-header">
  <div class="row">
    <div class="col-sm-4">
      <h1 class="page-heading ">
        Payments
      </h1>
    </div>
    <div class="col-sm-4">
      <%= form_tag payments_path, :method => :get, :id => "search_form" do %>
          <div class="form-material form-material-primary input-group remove-margin-t remove-margin-b">
            <%= text_field_tag(:search, params[:search], :class => "form-control", :id => "users", :placeholder => "Search", :onkeyup => "clear_search()") %>
            <span class="input-group-addon"><i class="si si-magnifier" , onClick="submit_search()"></i></span>
          </div>
      <% end %>
    </div>
    <div class="col-sm-4 text-right hidden-xs">
      <ol class="breadcrumb push-10-t">
        <%= render_breadcrumbs :tag => :li, :separator => '' %>
      </ol>
    </div>
  </div>
</div>

<div class="content">
  <div class="block">
    <div class="block-content">
      <table class="table table-responsive table-header-bg">
        <thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Email Id</th>
          <th class="text-center">Date</th>
          <th class="text-center">Amount</th>
          <th class="text-center">Payment Method</th>
          <th class="text-center">Status</th>
          <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <% if @payments.present? %>
            <% @payments.each do |payment| %>
                <tr>
                  <td class='text-center'><%= payment.user.full_name %></td>
                  <td class='text-center'><%= payment.user.email %></td>
                  <td class='text-center'><%= payment.payment_date.strftime('%d-%m-%Y') %></td>
                  <td class='text-center'><%= number_to_currency_dollar(payment.payment_amount) %></td>
                  <td class='text-center'><%= payment.mode %></td>
                  <td class='text-center'><%= payment.status %></td>
                  <td class="text-center">
                    <%= link_to 'Edit', edit_payment_path(payment.id) %>&nbsp;
                    <%= link_to 'Delete', payment_path(payment.id), method: :delete, data: {confirm: 'Are you sure?'} %>
                  </td>
                </tr>
            <% end %>
            </td>


            </tr>

        <% else %>
            <tr>
              <td colspan="6" class="text-center">Nothing to show.</td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <% if @payments.present? %>
        <div id="page_links">
          <%= paginate @payments %>
        </div>
    <% end %>
  </div>
</div>
