<div class='content bg-gray-lighter'>
  <div class='row items-push'>
    <div class='col-sm-7'>
      <h2>Payments</h2>
      <small>Please raise invoices after end of every month and mails us on <b>info@adsolut.in</b></small>
    </div>
    <div class='col-sm-5 text-right hidden-xs'>
      <ol class='breadcrumb push-10-t'>
        <%= render_breadcrumbs :tag => :li, :separator => '' %>
      </ol>
    </div>
  </div>
</div>

<div class="content bg-white border-b">
  <div class="row items-push text-uppercase">
    <div class="col-sm-1 col-sm-3 text-center">
    </div>
    <div class="col-xs-6 col-sm-3 text-center">
      <div class="font-w700 text-gray-darker animated fadeIn">Total Payments</div>
      <span class="h2 font-w300 text-primary animated flipInX text-center"><%= @payments.length %></span>
    </div>
    <div class="col-xs-6 col-sm-3 text-center">
      <div class="font-w700 text-gray-darker animated fadeIn">Paid Payments</div>
      <a class="h2 font-w300 text-primary animated flipInX text-center"><%= @count_status['Paid'] %></a>
    </div>
    <div class="col-xs-6 col-sm-3 text-center">
      <div class="font-w700 text-gray-darker animated fadeIn">Pending Payments</div>
      <a class="h2 font-w300 text-primary animated flipInX text-center"><%= @count_status['Pending'] %></a>
    </div>
    <div class="col-sm-1 col-sm-3 text-center">
    </div>
  </div>
</div>

<div class="content">
  <div class="block">
    <div class="table-responsive">
      <table class="table table-borderless table-header-bg text-center remove-margin-b">
        <thead>
        <tr>
          <th class="text-center">Date</th>
          <th class="text-center">Amount</th>
          <th class="text-center">Payment Method</th>
          <th class="text-center">Status</th>
        </tr>
        </thead>
        <tbody>
        <% if @payments.present? %>
            <% @payments.each do |payment| %>
                <tr>
                  <td class='text-center'><%= payment.payment_date.strftime('%d-%m-%Y') %></td>
                  <td class='text-center'><%= number_to_currency_dollar(payment.payment_amount) %></td>
                  <td class='text-center'><%= payment.mode %></td>
                  <td class='text-center'><%= payment.status %></td>
                </tr>
            <% end %>

        <% else %>
            <tr>
              <td colspan="6" class="text-center">Nothing to show.</td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <% if @payments.present? %>
        <div class="dataTables_paginate paging_simple_numbers">
          <%= paginate @payments %>
        </div>
    <% end %>
  </div>
</div>
