<div class='content bg-gray-lighter'>
  <%= devise_error_messages! %>
  <div class='row items-push'>
    <div class='col-sm-7'>
      <% if user_signed_in? %>
          <h2 class='h2 animated zoomIn'>Welcome <%= current_user.username.camelize %></h2>
      <% end %>
    </div>
    <div class='col-sm-5 text-right hidden-xs'>
      <ol class='breadcrumb push-10-t'>
        <%= render_breadcrumbs :tag => :li, :separator => '' %>
      </ol>
    </div>
  </div>
</div>

<div class="content bg-white border-b">
  <div class="row items-push text-uppercase">
    <div class="col-xs-6 col-sm-3">
      <div class="font-w700 text-gray-darker animated fadeIn">Total Impressions</div>
      <div class="text-muted animated fadeIn">
        <small><i class="si si-calendar"></i> This Week</small>
      </div>
      <span class="h2 font-w300 text-primary animated flipInX"><%= number_with_delimiter(@summary_tag_infos_week[:total_ad_request_week].to_i) %></span>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="font-w700 text-gray-darker animated fadeIn">Paid Impressions</div>
      <div class="text-muted animated fadeIn">
        <small><i class="si si-calendar"></i> This Week</small>
      </div>
      <a class="h2 font-w300 text-primary animated flipInX"><%= number_with_delimiter(@summary_tag_infos_week[:total_match_request_week].to_i, delimiter: ',') %></a>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="font-w700 text-gray-darker animated fadeIn">Partner Revenue</div>
      <div class="text-muted animated fadeIn">
        <small><i class="si si-calendar"></i> This Week</small>
      </div>
      <a class="h2 font-w300 text-primary animated flipInX"><%= @summary_tag_infos_week.include?(:total_partner_revenue_week) ? number_to_currency_dollar(@summary_tag_infos_week[:total_partner_revenue_week]) : 0 %></a>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="font-w700 text-gray-darker animated fadeIn">Average Fill Rate</div>
      <div class="text-muted animated fadeIn">
        <small><i class="si si-calendar"></i> This Week</small>
      </div>
      <a class="h2 font-w300 text-primary animated flipInX"><%= @summary_tag_infos_week.include?(:avg_summary_fill_rate_week) ? number_to_percentage_fill(@summary_tag_infos_week[:avg_summary_fill_rate_week]) : 0 %></a>
    </div>
  </div>
</div>

<div class='content'>
  <div class='row'>
    <div class='col-lg-12'>
      <div class='block'>
        <div class='block-header'><h3 class='block-title'>Weekly Overview</h3></div>
        <div class='block-content block-content-full bg-gray-lighter text-center'>
          <% if @tag_infos.present? %>
              <div id='chart' style="width:100%;">
                <div class='sk-circle'>
                  <div class='sk-circle1 sk-child'></div>
                  <div class='sk-circle2 sk-child'></div>
                  <div class='sk-circle3 sk-child'></div>
                  <div class='sk-circle4 sk-child'></div>
                  <div class='sk-circle5 sk-child'></div>
                  <div class='sk-circle6 sk-child'></div>
                  <div class='sk-circle7 sk-child'></div>
                  <div class='sk-circle8 sk-child'></div>
                  <div class='sk-circle9 sk-child'></div>
                  <div class='sk-circle10 sk-child'></div>
                  <div class='sk-circle11 sk-child'></div>
                  <div class='sk-circle12 sk-child'></div>
                </div>
                <%= render_chart @chart, 'chart' %>
              </div>
          <% else %>
              <div class='text-center'>Nothing to show.</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='content'>
  <div class='row'>
    <div class='col-lg-12'>
      <div class='block'>
        <div class='block-header'><h3 class='block-title'>Inventory Revenue Performace</h3></div>
        <div class='block-content block-content-full bg-gray-lighter text-center'>
          <% if @tag_infos.present? %>
              <div id='piechart' style="width:100%;">
                <div class='sk-circle'>
                  <div class='sk-circle1 sk-child'></div>
                  <div class='sk-circle2 sk-child'></div>
                  <div class='sk-circle3 sk-child'></div>
                  <div class='sk-circle4 sk-child'></div>
                  <div class='sk-circle5 sk-child'></div>
                  <div class='sk-circle6 sk-child'></div>
                  <div class='sk-circle7 sk-child'></div>
                  <div class='sk-circle8 sk-child'></div>
                  <div class='sk-circle9 sk-child'></div>
                  <div class='sk-circle10 sk-child'></div>
                  <div class='sk-circle11 sk-child'></div>
                  <div class='sk-circle12 sk-child'></div>
                </div>
                <%= render_chart @revenue_chart, 'piechart' %>
              </div>
          <% else %>
              <div class='text-center'>Nothing to show.</div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Page Content -->
<div class='content'>
  <div class='block'>
    <div class="table-responsive">
      <table class='table table-borderless table-header-bg text-center remove-margin-b'>
        <thead>
        <tr>
          <th class='text-center'>Date</th>
          <th class='text-center'>Tag Name</th>
          <th class='text-center'>Total Impressions</th>
          <th class='text-center'>Paid Impressions</th>
          <th class='text-center'>eCPM</th>
          <th class='text-center'>Fill Rate</th>
          <th class='text-center'>Partner Revenue</th>
        </tr>
        </thead>
        <tbody>
        <% if @tag_infos.present? %>
            <% @tag_infos.each do |tag_id, hash| %>
                <tr>
                  <td class='text-center'><%= hash[:range] %></td>
                  <td class='text-center'><%= link_to(hash[:name], tag_path(hash[:tag_encoded_id])) %></td>
                  <td class='text-center'><%= number_with_delimiter(hash[:ad_request].to_i, delimiter: ',') %></td>
                  <td class='text-center'><%= number_with_delimiter(hash[:match_request].to_i, delimiter: ',') %></td>
                  <td class='text-center'><%= number_to_currency_dollar(hash[:ecpm]) %></td>
                  <td class='text-center'><%= number_to_percentage_fill(hash[:fill_rate]) %></td>
                  <td class='text-center'><%= number_to_currency_dollar(hash[:partner_revenue]) %></td>
                </tr>
            <% end %>

            <tr>
              <td class='text-center' colspan='2'><h3 class='block-title'>Total</h3></td>
              <td class='text-center'>
                <h3 class='block-title'><%= number_with_delimiter(@summary[:total_ad_request].to_i, delimiter: ',') %></h3>
              </td>
              <td class='text-center'>
                <h3 class='block-title'><%= number_with_delimiter(@summary[:total_match_request].to_i, delimiter: ',') %></h3>
              </td>
              <td class='text-center'>
                <h3 class='block-title'><%= number_to_currency_dollar(@summary[:total_ecpm]) %></h3></td>
              <td class='text-center'>
                <h3 class='block-title'><%= number_to_percentage_fill(@summary[:total_fill_rate]) %></h3></td>
              <td class='text-center'>
                <h3 class='block-title'><%= number_to_currency_dollar(@summary[:total_partner_revenue]) %></td>
            </tr>
        <% else %>
            <tr>
              <td colspan='6' class='text-center'>Nothing to show.</td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>