<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-4">
      <h1 class="page-heading">
        My Websites
      </h1>
    </div>
    <div class="col-sm-4">
      <%= form_tag tags_path, :method => :get, :id => "search_form" do %>
          <div class="form-material form-material-primary input-group remove-margin-t remove-margin-b">
            <%= text_field_tag(:search, params[:search], :class => "form-control", :id => "tags", :placeholder => "Search", :onkeyup => "clear_search()") %>
            <span class="input-group-addon"><i class="si si-magnifier" , onClick="submit_search()"></i></span>
          </div>
      <% end %>
    </div>
    <div class="col-sm-4 text-right hidden-xs">
      <ol class="breadcrumb push-10-t">
        <%= render_breadcrumbs :tag => :li, :separator => "" %>
      </ol>
    </div>
  </div>
</div>

<div class="content">
  <div class="block">
    <div class="table-responsive">
      <table class="table table-borderless table-header-bg text-center remove-margin-b">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Name</th>
          <th class="text-center">Date Created</th>
          <th class="text-center">Status</th>
          <th class="text-center">Tags</th>
          <th class="text-center">View Data</th>
        </tr>
        </thead>
        <tbody>
        <% if @tags.present? %>
            <% counter = (@tags.current_page - 1) * 10 %>
            <% @tags.each_with_index do |tag, i| %>
                <tr>
                  <td class="text-center"><%= (counter + i + 1) %></td>
                  <td class="text-center"><%= tag.name %></td>
                  <td class="text-center"><%= tag.created_at.strftime('%d-%m-%Y') %></td>
                  <% if tag.is_active == true %>
                      <td class="text-center">Active</td>
                  <% else %>
                      <td class="text-center">Inactive</td>
                  <% end %>
                  <td class="text-center">
                    <% if tag.file_file_name.present? %>
                        <% if tag.file_file_name.include? ".pdf" %>
                            <%= link_to image_tag('icon_pdf.png', alt: 'Download PDF'), tag.file.url, :title => 'Download PDF' %>
                        <% elsif tag.file_file_name.include? ".xlsx" %>
                            <%= link_to image_tag('icon_xlsx.png', alt: 'Download XLSX'), tag.file.url, :title => 'Download XLSX' %>
                        <% elsif tag.file_file_name.include? ".xls" %>
                            <%= link_to image_tag('icon_xls.png', alt: 'Download XLS'), tag.file.url, :title => 'Download XLS' %>
                        <% elsif tag.file_file_name.include? ".doc" %>
                            <%= link_to image_tag('icon_doc.png', alt: 'Download DOC'), tag.file.url, :title => 'Download DOC' %>
                        <% elsif tag.file_file_name.include? ".docx" %>
                            <%= link_to image_tag('icon_docx.png', alt: 'Download DOCX'), tag.file.url, :title => 'Download DOCX' %>
                        <% elsif tag.file_file_name.include? ".txt" %>
                            <%= link_to image_tag('icon_txt.png', alt: 'Download TXT'), tag.file.url, :title => 'Download TXT' %>
                        <% else %>
                            <%= link_to image_tag('icon_all_extensions.png', alt: 'Download'), tag.file.url, :title => 'Download' %>
                        <% end %>
                    <% else %>
                        <%= image_tag('upload_tag.png', alt: 'Upload Tag', :title => 'Upload Tags') %>
                    <% end %>
                  </td>
                  <td class="text-center">
                    <%= link_to '<i class="fa fa-database"></i> View Data'.html_safe, tag_path(tag.encoded_id), :class => 'btn btn-info push-5-r push-10' %>
                  </td>
                </tr>
            <% end %>
        <% else %>
            <tr>
              <td colspan="6" class="text-center">Nothing to show.</td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="dataTables_paginate paging_simple_numbers">
      <%= paginate @tags %>
    </div>

  </div>
</div>