<div class="content content-narrow">
  <div class="col-md-8">
    <div class="block">
      <div class="block-content block-content-narrow">
        <%= form_for(@tag, html: {:class => 'js-validation-material form-horizontal margin-top-40'}) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <div class="col-xs-9">
                <div class="form-material form-material-primary ">
                  <%# f.collection_select :user_id, User.with_role(:customer).order(:email),:id,:email, include_blank: true,  options: {}, html: {:class => "form-control"} %>
                  <%= f.collection_select(:user_id, User.with_role(:customer).order(:email), :id, :email, {:prompt => true}, {:class => 'form-control jsSelect'}) %>
                  <label>Customer</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-9">
                <div class="form-material form-material-primary ">
                  <%= f.text_field :name, autofocus: true, class: 'form-control field' %>
                  <label>Name</label>
                </div>
              </div>
            </div>


            <div class="form-group">
              <div class="col-xs-9">
                <div class="form-material form-material-primary ">
                  <%= f.file_field :file %>
                  <label>Upload Tags</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.submit f.object.new_record? ? 'Submit' : 'Update', class: 'btn btn-sm btn-primary' %>
              <%= link_to "Back", tags_path, class: 'btn btn-sm btn-warning' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
