<footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">
  <div class="pull-left">
    2019 &copy; <a class="font-w600" title="Adsolut Media">
    <%= link_to 'Adsolut Media','http://adsolut.in/', target: '_blank' %>
  </a>. All Rights Reserved

  </div>
</footer>