<header id="header-navbar" class="content-mini content-mini-full">
  <!-- Header Navigation Right -->
  <ul class="nav-header pull-right">

    <% role = current_user.roles.present? ? current_user.roles.first.name : '' %>

    <% if role == 'admin' %>
        <li>
          <div class="btn-group">
            <%= link_to ("<i class='fa fa-power-off logout'></i>").html_safe, destroy_user_session_path, method: :delete, :class => 'btn btn-default tooltips', title: '', data: {toggle: 'tooltip', placement: 'bottom', original_title: 'Logout'} %>
          </div>
        </li>
    <% else %>
        <li>
          <div class="btn-group">
            <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
              <%= image_tag("usericon.png", :alt => "rss feed") %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-header">Profile</li>
              <li>
                <%= link_to edit_user_registration_path, data: {toggle: 'tooltip', placement: 'bottom', original_title: 'Profile'} do %>
                    <i class='si si-user pull-right'></i>
                    Profile
                <% end %>
              </li>

              <li class="divider"></li>
              <li class="dropdown-header">Actions</li>

              <li>
                <%= link_to destroy_user_session_path, method: :delete, data: {toggle: 'tooltip', placement: 'bottom', original_title: 'Logout'} do %>
                    <i class='si si-logout pull-right'></i>
                    Logout
                <% end %>

              </li>
            </ul>
          </div>
        </li>
    <% end %>
  </ul>
  <!-- END Header Navigation Right -->

  <!-- Header Navigation Left -->
  <ul class="nav-header pull-left">
    <li class="hidden-md hidden-lg">
      <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
      <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle" type="button">
        <i class="fa fa-navicon"></i>
      </button>
    </li>
    <li class="hidden-xs hidden-sm">
      <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
      <button class="btn btn-default" data-toggle="layout" data-action="sidebar_mini_toggle" type="button">
        <i class="fa fa-ellipsis-v"></i>
      </button>
    </li>

    <li class="visible-xs">
      <!-- Toggle class helper (for .js-header-search below), functionality initialized in App() -> uiToggleClass() -->
      <button class="btn btn-default" data-toggle="class-toggle" data-target=".js-header-search" data-class="header-search-xs-visible" type="button">
        <i class="fa fa-search"></i>
      </button>
    </li>
  </ul>
  <!-- END Header Navigation Left -->
  <script>
      $(document).ready(function () {
          $(".si-close").hide();
          $("#text").val("");
      });
      function submit_search() {
          $("#search_form").submit();
      }
      function clear_search() {
          $(".si-close").show();
          $(".si-close").click(function () {
              $("#text").val("");//Clear the text input
              $(".si-close").hide();
              $(".si-magnifier").show();
          });
      }
  </script>
</header>
