<% flash.each do |key, value| %>
    <% if !value.blank? %>
        <div class="alert alert-<%= key %>">
          <a href="#" data-dismiss="alert" class="close">×</a>
          <ul>
            <li>
              <%= value %>
            </li>
          </ul>
        </div>
    <% end %>
<% end %>