<nav id="sidebar">
  <!-- Sidebar Scroll Container -->
  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 347px;">
    <div id="sidebar-scroll" style="overflow: hidden; width: auto; height: 347px;">
      <div class="sidebar-content">
        <!-- Side Header -->
        <div class="side-header side-content bg-white-op">
          <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
            <i class="fa fa-times"></i>
          </button>
          <a class="h5 text-white" href="/">
            <span class="h4 font-w600 sidebar-mini-hide">Adsolut</span>
          </a>
        </div>
        <!-- END Side Header -->

        <!-- Side Content -->
        <div class="side-content">
          <ul class="nav-main">
            <% role = current_user.roles.present? ? current_user.roles.first.name : '' %>

            <% if role == 'admin' %>
                <li><%= link_to sites_path do %>
                      <i class='si  si-bar-chart'></i><span class='sidebar-mini-hide'>Overview</span>
                  <% end %></li>
                <li><%= link_to new_upload_path do %>
                      <i class='si  si-cloud-upload'></i><span class='sidebar-mini-hide'>Upload</span>
                  <% end %></li>
                 <li><%= link_to users_path do %>
                      <i class='fa fa-user'></i><span class='sidebar-mini-hide'>Users</span>
                  <% end %></li>
                <li><%= link_to tags_path do %>
                      <i class='glyphicon glyphicon-list-alt'></i><span class='sidebar-mini-hide'>Websites</span>
                  <% end %></li>
                <li><%= link_to reports_path do %>
                      <i class='si si-speedometer'></i><span class='sidebar-mini-hide'>Reports</span>
                  <% end %></li>
                <li>
                  <%= link_to '', class: 'nav-submenu', title: '', data: {toggle: 'nav-submenu'} do %>
                      <i class='fa fa-dollar'></i><span class='sidebar-mini-hide'>Manage Payments</span>
                  <% end %>
                  <ul>
                    <li>
                      <%= link_to 'Add Payments', new_payment_path, title: 'Add Payments' %>
                    </li>
                    <li>
                      <%= link_to 'View Payments', payments_path, title: 'Show Payments' %>
                    </li>
                  </ul>
                </li>
                <li><%= link_to publishers_path do %>
                      <i class='si si-users'></i><span class='sidebar-mini-hide'>Sign up Publishers</span>
                  <% end %></li>
            <% else %>
                <li><%= link_to pages_path do %>
                      <i class='si  si-bar-chart'></i><span class='sidebar-mini-hide'>Summary</span>
                  <% end %></li>
                <li><%= link_to tags_path do %>
                      <i class='glyphicon glyphicon-list-alt'></i><span class='sidebar-mini-hide'>Websites</span>
                  <% end %></li>
                <li><%= link_to reports_path do %>
                      <i class='si si-speedometer'></i><span class='sidebar-mini-hide'>Reports</span>
                  <% end %></li>
                <li><%= link_to new_site_request_path do %>
                      <i class='si si-envelope'></i><span class='sidebar-mini-hide'>Add New Sites & Apps</span>
                  <% end %></li>
                <li><%= link_to payments_path do %>
                      <i class='fa fa-dollar'></i><span class='sidebar-mini-hide'>Payments</span>
                  <% end %></li>
                <li><%= link_to ads_txt_download_path do %>
                      <i class='fa fa-file-text-o'></i><span class='sidebar-mini-hide'>Ads.txt</span>
                  <% end %></li>
            <% end %>
          </ul>
        </div>
        <!-- END Side Content -->

      </div>
    </div>
    <div class="slimScrollBar" style="background: rgb(255, 255, 255); width: 5px; position: absolute; top: 0px; opacity: 0.35; display: none; border-radius: 7px; z-index: 99; right: 2px; height: 179.552px;"></div>
    <div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 1; z-index: 90; right: 2px;"></div>
    <!-- Sidebar Content -->
    <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
    <!-- Sidebar Content -->
  </div>
  <!-- END Sidebar Scroll Container -->
</nav>
