<div class="content content-narrow">
  <div class="col-md-8">
    <div class="block">
      <div class="block-content block-content-narrow">
        <%= form_for(@payment, html: {:class => 'js-validation-material form-horizontal margin-top-40 tags-info-form'}) do |f| %>

            <% if @payment.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

                  <ul>
                    <% @payment.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div class="form-group">
              <div class="col-xs-9">
                <div class="form-material form-material-primary ">
                  <%= f.collection_select(:user_id, User.with_role(:customer).where(:is_active => true).order(:email), :id, :email, {:prompt => true}, {:class => 'form-control jsSelect'}) %>
                  <label>Email Id</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-9">
                <div class="form-material form-material-primary ">
                  <%= f.text_field :payment_date, :class => 'js-datepicker form-control', id: 'payment_date', 'data-date-format' => "dd MM, yyyy" %>
                  <label>Date</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-9">
                <div class="form-material form-material-primary ">
                  <%= f.text_field :payment_amount, autofocus: true, class: 'form-control field' %>
                  <label>Amount</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-9">
                <div class="form-material form-material-primary ">
                  <%= f.select(:mode, Payment.modes.keys.map {|mode| [mode.titleize,mode]}, {}, { :class => 'form-control jsSelect' }) %>
                  <label>Payment Method</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-9">
                <div class="form-material form-material-primary">
                  <%= f.select(:status, Payment.statuses.keys.map {|status| [status.titleize,status]}, {}, { :class => 'form-control jsSelect' }) %>
                  <label>Payment Status</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.submit f.object.new_record? ? 'Submit' : 'Update', class: 'btn btn-sm btn-primary tags-info-btn' %>
              <%= link_to "Back", payments_path, class: 'btn btn-sm btn-warning' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function () {
        $(function () {
            App.initHelpers(['datepicker']);
        });
    });
</script>