<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-8">
      <h1 class="page-heading">
        Editing Payments
        <small>Edit</small>
      </h1>
    </div>
  </div>
</div>

<%= render partial: 'payments/form' %>

