<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-8">
      <h1 class="page-heading">
        Payments
        <small>Add</small>
      </h1>
    </div>
    <div class="col-sm-4 text-right hidden-xs">
      <ol class="breadcrumb push-10-t">
        <li><%= link_to 'Show Payments', payments_path %></li>
        <li>Add</li>
      </ol>
    </div>
  </div>
</div>

<%= render 'form' %>

