<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-4">
      <h1 class="page-heading">
        Payments Processed
      </h1>
    </div>

    <div class="col-sm-4 text-right hidden-xs">
      <ol class="breadcrumb push-10-t">
        <li><%= link_to 'Add Payment', new_payment_path %></li>
        <li>Show Payments</li>
      </ol>
    </div>
  </div>
</div>

<div class="content">
  <div class="block">
    <div class="block-content">
      <table class="table table-responsive table-header-bg">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Name</th>
          <th class="text-center">Date</th>
          <th class="text-center">Amount</th>
          <th class="text-center">Method</th>
          <th class="text-center">Status</th>
        </tr>
        </thead>
        <tbody>
        <% if @tags.present? %>
            <% @tags.each_with_index do |tag, i| %>
                <tr>
                  <td class="text-center"><%= (i+1) %></td>
                  <td class="text-center"><%= tag.name %></td>
                  <td class="text-center"><%= tag.created_at.strftime('%d-%m-%Y') %></td>
                  <td class="text-center">
                    <%= form_for(tag, :method => 'put', url: tag_path(:encoded_id => tag.id)) do |f| %>
                        <label class="css-input switch switch-sm switch-primary">
                          <% if tag.is_active %>
                              <%= f.check_box :is_active, {checked: true, :class => 'is-active'} %>
                          <% else %>
                              <%= f.check_box :is_active, { :class => 'is-active'} %>
                          <% end %>

                          <span></span>
                        </label>
                    <% end %>
                  </td>
                  <td class="text-center">
                    <%= link_to '<i class="fa fa-database"></i> View Data'.html_safe, tag_path(tag.encoded_id), :class => 'btn btn-info push-5-r push-10' %>
                  </td>
                  <td class="text-center">
                    <% if tag.is_active %>
                        <%= link_to 'Edit', edit_tag_path(tag.encoded_id)  %> &nbsp;
                        <%= link_to 'Delete', tag_path(tag.encoded_id), method: :delete, data: {confirm: 'Are you sure?'} %>
                    <% else %>
                        Edit Delete
                    <% end%>
                  </td>
                  <td class="text-center">
                    <% if tag.file_file_name.present? %>
                        <%= link_to 'Download Tags', tag.file.url  %>
                    <% else %>
                        Upload Tag
                    <% end%>
                  </td>
                </tr>
            <% end %>
        <% else %>
            <tr>
              <td colspan="6" class="text-center">Nothing to show.</td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>



  </div>
</div>

<script>
    $('.is-active').on("change", function(){
        $(this).closest("form").submit();
    });
</script>