<div class="content content-narrow">
  <div class="col-md-8">
    <div class="block">
      <div class="block-content block-content-narrow">
        <%= form_for(@site_request, html: {:class => 'form-horizontal'}) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <label class="col-xs-7" for="example-text-input">Website</label>
              <%= f.text_area :subject, autofocus: true, class: 'form-control field', :maxlength => 500, :required => true %>
              <div class="help-block text-right">Please enter list of websites (comma separated)</div>
            </div>

            <div class="form-group">
              <%= f.submit f.object.new_record? ? 'Submit' : 'Update', class: 'btn btn-sm btn-primary' %>
            </div>

        <% end %>
      </div>
    </div>
  </div>
</div>