<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7">
      <h1 class="page-heading">
        Add New Sites & Apps
      </h1>
      <small> Please enter your website(s) below. Our AdsOps Team will review the same and update you within 24 hours !</small>
    </div>
    <div class="col-sm-5 text-right hidden-xs">
      <ol class="breadcrumb push-10-t">
        <%= render_breadcrumbs :tag => :li, :separator => "" %>
      </ol>
    </div>
  </div>
</div>


<%= render partial: 'site_requests/form' %>