<div class="form">
  <% if flash[:message] %>
      <div class="alert <%= flash[:class] %>">
        <%= flash[:message] %>
      </div>
  <% end %>
</div>

<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7">
      <h1 class="page-heading">
        Approve Websites
      </h1>
      <small>Email list of websites which needs to get approved</small>
    </div>
    <div class="col-sm-5 text-right hidden-xs">
      <ol class="breadcrumb push-10-t">
        <%= render_breadcrumbs :tag => :li, :separator => "" %>
      </ol>
    </div>
  </div>
</div>

<div class='content'>
  <div class='row'>
    <div class='col-lg-7'>
      <div class='block'>
        <div class='block-content block-content-full bg-gray-lighter text-center'>
          <%= form_tag(email_sending_path, :class => "form-horizontal") do %>


              <div class="form-group">
                <div class="col-md-8">
                  <div class="form-material">
                    <%= text_field_tag "subject", "#{@subject}", :class => "form-control", :placeholder => 'Enter Title', :maxlength => 30, :size => 40, :required => true %>
                    <%= label_tag(:subject, "Title", :class => "example-material-maxlength5") %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-8">
                  <div class="form-material">
                    <%= text_area_tag :body, "#{@body}", :class => "form-control", :maxlength => "200", :rows => "4", :placeholder => 'Please enter subject', :required => true %>
                    <label for="example-material-maxlength7">Subject</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-8">
                  <%= button_tag(:type => "submit", :class => "btn btn-sm btn-primary") do -%>
                      <%= content_tag :i, :class => "icon-envelope icon-white" do -%>
                      <% end %> Send
                  <% end %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
