.margin-top-40 {
    margin-top: 40px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.padding-24 {
    padding: 24px !important;
}

.width-80 {
    width: 80%;
}

.width-50 {
	width: 50%;
}

.padding-15 {
    padding: 15px;
}

.login-panel {
    width: 400px;
    margin: 40px auto;
}

.float-left {
    padding-top: 7px;
    float: left;

}

.float-right {
    padding-top: 7px;
    float: right;
    font-size: 15px;
}

.text-blue {
  color:  #2196F3 !important
}
