/**** LOGIN_SIGNUP ******/

.left-text-w3ls {
    float: left;
    width: 50%;
    padding-right: 1em;
    text-align: left;
}

.left-text-w3ls h3 {
    font-size: 2em;
    color: #f0e68c;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 2em 0 1em;
}

.left-text-w3ls p {
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 38px;
    font-weight: 100;
}

.left-text-w3ls p a.fa {
    color: #b52e31;
    font-size: 11px;
    vertical-align: middle;
    margin-right: 1em;
}

/*--responsive--*/

@media (max-width: 1080px) {

    .left-text-w3ls h3 {
        font-size: 1.7em;
    }
}

@media (max-width: 1050px) {

    .left-text-w3ls h3 {
        margin: 1.5em 0 0.5em;
    }

}

@media (max-width: 991px) {
    .left-text-w3ls {
        width: 57.9%;
    }
}

@media (max-width: 900px) {
    .left-text-w3ls h3 {
        font-size: 1.5em;
    }

    .left-text-w3ls p {
        font-size: 14px;
        letter-spacing: 1px;
    }
}

@media (max-width: 768px) {
    .left-text-w3ls {
        width: 100%;
        margin: 0 auto;
        float: none;
        text-align: center;
        padding-right: 0;
    }

    .left-text-w3ls h3 {
        margin: 0em 0 0.5em;
    }

}

@media (max-width: 667px) {

    .left-text-w3ls p {
        line-height: 33px;
    }
}

@media (max-width: 480px) {

    .left-text-w3ls h3 {
        font-size: 1.4em;
    }

}

@media (max-width: 414px) {

    .left-text-w3ls h3 {
        letter-spacing: 1px;
    }

}

@media (max-width: 384px) {

    .left-text-w3ls h3 {
        font-size: 1.3em;
    }

}

@media (max-width: 320px) {

    .left-text-w3ls h3 {
        font-size: 1.1em;
        letter-spacing: 0.5px;
    }

    .left-text-w3ls p {
        line-height: 28px;
        font-size: 13.5px;
    }

}