@media handheld, only screen and (max-width: 1024px) {
    .sku-inventory .sku-border .sku-icon{height: 45px; width: 45px;}
    .sku-icon img{height: 43px; min-height: 43px;}
    .sku-inventory .sku-border .sku-text{max-width: 50px;}
}

@media handheld, only screen and (max-width: 991px) {
}

@media handheld, only screen and (max-width: 767px) {
    .sku-inventory .tabpane-sku ul.nav-tabs li{
        display: inline-block;
        width: 40px;
        margin-right: 10px;
        height: 40px;
    }
    .sku-inventory .tabpane-sku ul.nav-tabs li a{
        height: 40px;
        padding-top: 8px;
    }
    .sku-inventory .table-responsive{
        overflow-x: scroll !important;
    }
    /*.table-responsive{
        height: 120px !important;
    }*/
    .sku-inventory .tab-pane .sku-border .sku-text{
        max-width: 110px;
    }
    .sku-inventory button.wizard-prev{
        left: 35%;
    }
    .sku-inventory button.wizard-next{
        right: 35%;
    }
}

@media handheld, only screen and (max-width: 430px) {
}

@media handheld, only screen and (max-width: 335px) {
}