<div class="content">
  <div class="block">
    <div class="block-content">

      <h2>Import Tags</h2>

      <%= form_tag import_uploads_path, multipart: true do %>

          <%= select_tag :user_id, options_from_collection_for_select(User.with_role(:customer), 'id', 'email'), class: 'form-control'%>

          <%= file_field_tag :file, :required => true %>

          <%= submit_tag 'Import' %>

      <% end %>
    </div>
  </div>
</div>

