<div class='block-content block-content-full bg-gray-lighter text-center'>
  <% if @tags_infos.present? %>
      <div id='chart'>
        <div class='sk-circle'>
          <div class='sk-circle1 sk-child'></div>
          <div class='sk-circle2 sk-child'></div>
          <div class='sk-circle3 sk-child'></div>
          <div class='sk-circle4 sk-child'></div>
          <div class='sk-circle5 sk-child'></div>
          <div class='sk-circle6 sk-child'></div>
          <div class='sk-circle7 sk-child'></div>
          <div class='sk-circle8 sk-child'></div>
          <div class='sk-circle9 sk-child'></div>
          <div class='sk-circle10 sk-child'></div>
          <div class='sk-circle11 sk-child'></div>
          <div class='sk-circle12 sk-child'></div>
        </div>
        <%= render_chart @chart, 'chart' %>
      </div>
  <% else %>
      <div class='text-center'>Nothing to show.</div>
  <% end %>
</div>