<div class='content bg-gray-lighter'>
  <div class='row items-push'>
    <div class='col-sm-7'>
      <h2>Performance Overview</h2>
      <small>Gives you information on the revenue brought in by ad tags.</small>
    </div>
    <div class='col-sm-5 text-right hidden-xs'>
      <ol class='breadcrumb push-10-t'>
        <%= render_breadcrumbs :tag => :li, :separator => '' %>
      </ol>
    </div>
  </div>
</div>

<div class="reports_flash">
</div>

<div class="content bg-white border-b padding-24">
  <div class="row items-push text-uppercase">
    <%= form_tag sites_path, :method => :get, remote: true, :class => 'form-search' do %>

        <div class="col-xs-6 col-sm-3 form-group ui-widget">
          <span class="font-w700 text-gray-darker animated fadeIn"> Filter By</span>

          <div class="text-muted animated fadeIn">
            <%= autocomplete_field_tag('sites_name', '', autocomplete_tag_name_sites_path, :placeholder => 'Search Sites.....', :id_element => '#tag_id','data-delimiter' => ',', :multiple => true, :class => 'form-control') %>
          </div>

          <%= hidden_field_tag 'tag_id', '' %>
        </div>

        <div class="col-xs-6 col-sm-3 margin-top-20">
          <label class="radio-inline" for="example-inline-radio1">
            <%= radio_button_tag("date_range", "7", :checked => true) %> 7 days
          </label>
          <label class="radio-inline" for="example-inline-radio2">
            <%= radio_button_tag("date_range", "15") %> 15 days
          </label>
          <label class="radio-inline" for="example-inline-radio3">
            <%= radio_button_tag("date_range", "30") %> 30 days
          </label>
        </div>

        <div class="col-xs-6 col-sm-3">
          <div class="text-muted animated fadeIn margin-top-20">
            <%= button_tag class: "btn btn-primary btn-sm" do %>
                <i class='si si-graph'></i> View
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>

<!-- Page Content -->
<div class='content'>
  <div class='block'>
    <div class='block-header'><h3 class='block-title'>Revenue</h3></div>
    <div class="reports_index">
      <div class='block-content block-content-full bg-gray-lighter text-center'>
        <% if @tags_infos.present? %>
            <div id='chart'>
              <div class='sk-circle'>
                <div class='sk-circle1 sk-child'></div>
                <div class='sk-circle2 sk-child'></div>
                <div class='sk-circle3 sk-child'></div>
                <div class='sk-circle4 sk-child'></div>
                <div class='sk-circle5 sk-child'></div>
                <div class='sk-circle6 sk-child'></div>
                <div class='sk-circle7 sk-child'></div>
                <div class='sk-circle8 sk-child'></div>
                <div class='sk-circle9 sk-child'></div>
                <div class='sk-circle10 sk-child'></div>
                <div class='sk-circle11 sk-child'></div>
                <div class='sk-circle12 sk-child'></div>
              </div>
              <%= render_chart @chart, 'chart' %>
            </div>
        <% else %>
            <div class='text-center'>Nothing to show.</div>
        <% end %>
      </div>
    </div>
  </div>
</div>


