<table class='table table-borderless table-header-bg text-center remove-margin-b'>
  <thead>
  <tr>
    <th class='text-center'>Name</th>
    <th class='text-center'>Date</th>
    <th class='text-center'>Total Impressions</th>
    <th class='text-center'>Paid Impressions</th>
    <th class='text-center'>eCPM</th>
    <th class='text-center'>Fill Rate</th>
    <th class='text-center'>Partner Revenue</th>
  </tr>
  </thead>
  <tbody>
  <% if @tags_infos.present? %>
      <% @tags_infos.each do |tag_info| %>
          <tr>
            <td class='text-center'><%= tag_info.tag.name %></td>
            <td class='text-center'><%= tag_info.frm_date %></td>
            <td class='text-center'><%= number_with_delimiter(tag_info.ad_request.to_i, delimiter: ',') %></td>
            <td class='text-center'><%= number_with_delimiter(tag_info.match_request.to_i, delimiter: ',') %></td>
            <td class='text-center'><%= number_to_currency_dollar(tag_info.ecpm) %></td>
            <td class='text-center'><%= number_to_percentage_fill(tag_info.fill_rate) %></td>
            <td class='text-center'><%= number_to_currency_dollar(tag_info.partner_revenue) %></td>
          </tr>
      <% end %>
      <tr>
        <td class='text-center' colspan="2"><h3 class='block-title'>Total</h3></td>
        <td class='text-center'>
          <h3 class='block-title'><%= number_with_delimiter(@summary[:total_ad_request].to_i, delimiter: ',') %></h3>
        </td>
        <td class='text-center'>
          <h3 class='block-title'><%= number_with_delimiter(@summary[:total_match_request].to_i, delimiter: ',') %></h3>
        </td>
        <td class='text-center'>
          <h3 class='block-title'><%= number_to_currency_dollar(@summary[:total_ecpm]) %></h3></td>
        <td class='text-center'>
          <h3 class='block-title'><%= number_to_percentage_fill(@summary[:total_fill_rate]) %></h3></td>
        <td class='text-center'>
          <h3 class='block-title'><%= number_to_currency_dollar(@summary[:total_partner_revenue]) %></td>
      </tr>
  <% else %>
      <tr>
        <td colspan='6' class='text-center'>Nothing to show.</td>
      </tr>
  <% end %>
  </tbody>
</table>

<% if @tags_infos.present? %>
    <div id="page_links">
      <%= paginate @tags_infos, :remote => true %>
    </div>
<% end %>