<% if flash.present? %>
$('.reports_flash').html("<%= escape_javascript (render partial: 'static/notice_banner' ) %>");
<% else %>
$('.reports_flash').html(" ");
<% end %>

$('.reports_index').html("<%= escape_javascript (render partial: 'tag_info', locals: { tag_infos: @tag_infos } ) %>");