<div class='content bg-gray-lighter'>
  <div class='row items-push'>
    <div class='col-sm-7'>
      <h2>Daily Stats Report</h2>
      <small>Gives you daily information on the revenue brought in by ad tags.</small>
    </div>
    <div class='col-sm-5 text-right hidden-xs'>
      <ol class='breadcrumb push-10-t'>
        <%= render_breadcrumbs :tag => :li, :separator => '' %>
      </ol>
    </div>
  </div>
</div>

<div class="reports_flash">
</div>

<div class="content bg-white border-b padding-24">
  <div class="row items-push text-uppercase">
    <%= form_tag reports_path, :method => :get, remote: true, :class => 'form-search' do %>
        <div class="col-xs-6 col-sm-3">
          <div class="font-w700 text-gray-darker animated fadeIn">Date Range</div>
      <span class="h2 font-w300 text-primary animated flipInX">
        <%= select_tag :date_range, options_for_select(date_range_options, selected: 'yesterday'), :class => "form-control width-80" %>
      </span>
        </div>

        <div class="col-xs-6 col-sm-3">
          <div class="font-w700 text-gray-darker animated fadeIn">Custom Date Range</div>
          <div class="text-muted animated fadeIn">
            <%= text_field_tag :start_date, Date.yesterday.strftime('%m/%d/%Y'), :class => ' form-control margin-bottom-10', id: 'report_start_date', :required => true %>
            <%= text_field_tag :end_date, Date.yesterday.strftime('%m/%d/%Y'), :class => 'form-control', id: 'report_end_date', :required => true %>
          </div>
        </div>
        <% role = current_user.roles.present? ? current_user.roles.first.name : '' %>
        <% if role == 'admin' %>
            <div class="col-xs-6 col-sm-3">
              <div class="font-w700 text-gray-darker animated fadeIn">Filter By</div>
              <div class="text-muted animated fadeIn">
                <%= collection_select :tag_id, :id, Tag.all, :id, :name, {:include_blank => false}, {:class => 'form-control ', :multiple => true} %>
              </div>
            </div>
        <% else %>
            <div class="col-xs-6 col-sm-3">
              <div class="font-w700 text-gray-darker animated fadeIn">Filter By</div>
              <div class="text-muted animated fadeIn">
                <%= collection_select :tag_id, :id, Tag.where(user_id: current_user.id), :id, :name, {:include_blank => false}, {:class => 'form-control ', :multiple => true} %>
              </div>
            </div>
        <% end %>

       <div class="col-xs-6 col-sm-3">
          <div class="text-muted animated fadeIn margin-top-20">
            <%= submit_tag 'Generate Report', class: "btn btn-primary" %>
          </div>
        </div>
  <% end %>

    <%= form_tag download_csv_reports_path, :method => :get, :class => 'form-search' do %>
        <div class="col-xs-6 col-sm-3">
          <%= hidden_field_tag 'tag_ids', '' %>
          <%= hidden_field_tag 'start_date', '' %>
          <%= hidden_field_tag 'end_date', '' %>

          <div class="text-muted animated fadeIn margin-top-20">
            <%= submit_tag 'Download CSV', class: "btn btn-info download_csv", disabled: 'disabled'%>
          </div>
        </div>
    <% end %>
  </div>
</div>

<!-- Page Content -->
<div class='content'>
  <div class='block'>
    <div class="table-responsive">
      <div class="reports_index">
        <table class='table table-borderless table-header-bg text-center remove-margin-b'>
          <thead>
          <tr>
            <th class='text-center'>Name</th>
            <th class='text-center'>Date</th>
            <th class='text-center'>Total Impressions</th>
            <th class='text-center'>Paid Impressions</th>
            <th class='text-center'>eCPM</th>
            <th class='text-center'>Fill Rate</th>
            <th class='text-center'>Partner Revenue</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
