<!DOCTYPE html>
<html>
<head>
  <title>Adsolut | Intelligent Advertising Platform</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <!-- Google Tag Manager 
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
          'gtm.start': new Date().getTime(), event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
              j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
              'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-5RNBN3Z');</script>
  <!-- End Google Tag Manager -->
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<% if user_signed_in? %>
  <body>
      <div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">
        <%= render "static/header" %>
        <%= render "static/side_bar" %>
        <main id="main-container">
          <%= render 'static/notice_banner' %>
          <%= yield %>
        </main>
        <%= render 'static/footer' %>
        <%= debug(params) if Rails.env.development? %>
      </div>
  </body>
<% else %>
  <body class="login">
      <%= yield %>
  </body>
<% end %>

</html>